body{
	margin:0;
	padding:0;
	font-family:'MontSerrat',sans-serif;
	background-image:url(../images/about.jpg);
}
a{
transition:all.5s;
text-decoration:none;
color:#fff;

	
}

section{
	padding:70px 0;
	margin-top:0px;
	background:#0C0C08;
	text-align:center;
}
.container{
	
	margin-top:100px;
	max-width:1200px;
	margin-left:60px;
	width:100%;
}


 h3{
	margin:0;
	font-size:50px;
	color: gray ;
	font-weight:500;
}
 p{
	color:#979691;
	position:center;
}



h2{
	color:white;
}
	



	