body
{
	background-color:#061B28 ;
}

.sidenav {
   height: 800px; 
  width: 250px; 
  z-index: 1; 
  top: 120px; 
  left: 0;
  background-color:black; 
  overflow-x: hidden;
  padding-top: 20px;
  position:absolute;
  
}

.sidenav b {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color:gray;
}


.main {
  margin-left: 250px;
  padding: 0px 10px;
}


.sidenav {
padding-top: 15px;
}

.sidenav a {
font-size: 18px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
 
  border-radius:6%;
}

.text
{
	color:white;
	padding-left:250px;	
}

.text h1
{
	text-align:center;
	color:black;
	font-size:48px;
}

.image
{
	padding-left:280px;
}
