	body 
{
background:url(../images/c.wall.jpg);  
  height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*{
	font-family: sans-serif;
}

form {
	color:white;
	text-align:center;
	margin-top:100px;
	position:relative;
	padding:30px;
	border-radius: 15px;
	
}

.contact-form h1{
	margin-top:100px;
	text-align:center;
	font-size:32px;
    text-shadow: 3px 2px black ;
	color:white;
}
.contact-form h2{
	text-align:center;
	font-size:32px;
    text-shadow: 3px 2px black ;
	color:gray;
}

.form-control {
	width:700px;
	border:none;
	outline:none;
	border-bottom:1px solid gray;
	background:transparent;
	font-size:16px;
	color:white;

	
}


.form-controlsubmit {
	display:inline-block;
	height:40px;
	padding:5px 10px;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:200px;
	color:white;
	width:700px;
     background:linear-gradient(#C807C8,black);	
}

.form-controlsubmit:hover{
	opacity: .7;
	color:white;
	background-color:black;
}