
/* baneer*/

*{
 margin:0;
padding:0; 
}

body{
	text-align:center;
	
}
.wrapper{
	width:1170px;

}

.banner-area{
	width:100%;
	height:400px;
	position:fixed;
	top:70px;
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center
	
}

.text h1{
  color: black  ;
  font-size:70;
  padding-top:8%;
  position: absolute;
  text-shadow: 3px 2px #C807C8 ;
  text-align: center;
  font-family:poppins;
  	text-transform:uppercase;
	 width: 100%;
}
.text h2{
  color: #F3C3F3;
  font-size:40;
  padding-top:20%;
  position: absolute;
  width: 100%;
  text-shadow: 2px 2px #570A57;
  text-align: center;
  font-family:poppins;
  text-transform:uppercase;
}
/*cotent area*/
.content-area{
	width:100%;
	position:relative;
	top:450px;
	background:#FEC8F2 ;
	color:black;
	height:1330px;
	font-family:Times New Roman;
	font-size:24;
	background-image:url(../images/black.jpg);

	
}
.button{
	padding:20px 50px;
	border:none;
	color:#000000;
	background-color:#C634F5 ;
}


body{
	font-family:poppins;
	margin:0;
	font-size:14px;
	color: #877887 ;
	
}
.padded
{
	padding-right:20px;
	padding-left:20px;
	
}
.container2{
	width:100%;
	max-width:1200px;
	height:350px;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	
}
.container2 .card{
	width:260px;
	height:280px;
	border-radius:8px;
	box-shadow:0 2px 2px rbga(0,0,0,0.2);
	overflow:hidden;
	text-align:center;
	transition:all 0.25s;
	margin:10px;
	background:linear-gradient(#C807C8, black,gray,black);

	
}
.container2 .card:hover{
	transform:translateY(-15px);
	box-shadow:0 12px 10px rgba(0,0,0,0.2);
}
.container2 .card img{
	width:200px;
	height:200px;
	transform:all .4s;
}
.container2 .card h4{
	font-weight:600;
}
.container2 .card p{
	padding: 0 1rem;
	font-size:16px;
	font-weight:300;
	
}
.container2 h3{
	margin:-19px;
	color:white;
	
}
.card .btn{
	display:inline-block;
	padding:5px 10px;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400px;
	background:linear-gradient( black,#C807C8 );
	color:white;
	
}

.card .btn:hover{
	background:black;
	transition:all .5s;
	
	
}
.container2 a{
	font-size:14px;
	font-weight:500;
	
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color:gray;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color:grey;
  color: white;
}

.round {
  border-radius: 50%;
}
.butt3{
	
	display:inline-block;
	padding:5px 10px;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400px;
	width:100px;
	background:linear-gradient( black,#C807C8 );
	color:white;
}
h2{
	color:white;
}
