body
{
background-image:url("../images/i2.jpg");
background-repeat:no-repeat;
background-size:cover;
}
*{
 margin:0;
padding:0; 
}
header{
	height:120px;
	background:black;
	width:100%;
	z-index:12;
	position:fixed;
	
}
.butt{
	
	display:inline-block;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400px;
	float:right;
	width:100px;
	height:30px;
	background:linear-gradient( black,#C807C8 );
	color:white;
}

.butt1{
	display:inline-block;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400px;
	width:100px;
	height:30px;
	float:right;
	background:linear-gradient( black,#C807C8 );
	color:white;
	
	 
}


 nav a:hover{
    background-color:#000000;
    padding:6px;
}
.logo{
	display:block;
	float:left;
	text-align:left;
	margin-left:auto;
	padding-right:50px;
}

.header-right{
	float:left;
	color:#E5E7E9;
	text-shadow: 3px 3px #4D5656 ;
	font-size:16px;
}
nav{
	margin-top:56px;
	line-height:1px;

}

nav a{
	text-decoration:none;
	font-family:bignoodletitling;
	letter-spacing:3px;
	font-size:18px;
	color:#fff;
	
	
}
/* baneer*/



body{
	text-align:center;
	
}

.bu{
	height:50px;
	width:100px;
	background-color:gray;

}

a {
  text-decoration: none;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color:gray;
}



h3{
	font-size:20px;
	color:#000000 ;
	font-family:arial;
}

.button1{
	font-size:30px;
	display:inline-block;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400px;
	
	width:800px;
	height:60px;
	background:linear-gradient( black,#C807C8 );
	color:white;

}


footer{
	
    display:flex;
	background-color:black;
	color: #85929E ;
	font-family:arial;
	float:fixed;
	height:350px;
}

.footer-left{
	
	text-align:left;
}

.footer-left img{
	width:9%;
	height:17%;
	top:20px;
}

.footer-left img.icons{
	width:8%;
	height:10%;
	border-radius:100%;
	margin-top:10px;
}

 .footer-left h1{
	font-weight:400;
	font-size:30;
	color:gray;
}

.footer ul{
	list-style:none;
	padding-left:0;
	text-align:left;
}

.footer ul h2{
	font-size:15px;
	color:gray;
}

li a{
	text-decoration:none;
	color:purple;
	font-size:15px;
	line-height:10px;
}



.bottomright{
   position:absolute;
   right:16px;
  }
  
